<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Service - Listar Hospedagens</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(hospedagem)}">
        <h2>Lista de Hospedagens</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Preço</th>
                <th>Mostrar</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            <tr th:each="hospedagem : ${hospedagem}">
                <td th:text="${hospedagem.id}"></td>
                <td th:text="${hospedagem.description}"></td>
                <td th:text="${hospedagem.destino}"></td>
                <td th:text="${hospedagem.price}"></td>
                <td><a th:href="${'/hospedagem/show/' + hospedagem.id}">Ver Mais</a> </td>
                <td><a th:href="${'/hospedagem/edit/' + hospedagem.id}">Editar</a> </td>
                <td><a th:href="${'/hospedagem/delete/' + hospedagem.id}">Deletar</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/hospedagem/new">Nova Hospedagem</a>
        </div>
        <div class="col-sm-3">
            <a href="/hospedagem/comprar">Comprar Hospedagem</a>
        </div>
        <div class="col-sm-3">
            <a href="/">Voltar</a>
        </div>
    </div>
</div>

</body>
</html>